<ul class="nav navbar-nav pull-right">
    @*<li class="nav-item">
            <a class="btn btn-info btn-md my-0 waves-effect waves-light" asp-area="Identity" asp-page="/Account/Register">General/Madrasah</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info btn-md my-0 waves-effect waves-light" asp-area="Identity" asp-page="/Account/RegisterDiploma">Diploma</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-info btn-md my-0 waves-effect waves-light" asp-area="Identity" asp-page="/Account/RegisterEnglishMedium">English Medium</a>
        </li>*@
    @*<li class="nav-item">
            <a class="btn btn-info btn-md my-0 waves-effect waves-light" href="/Applicant/FindAdmitCard">Download Admit Card</a>
        </li>*@
    <li class="nav-item">
        <a class="btn btn-info btn-md my-0 waves-effect waves-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
</ul>

